
@{
    ViewData["Title"] = "Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Warehouse</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Kategorie</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">Towary</a>
